<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="qpid.sasl" type="Qpid.Sasl.Configuration.SaslConfigurationSectionHandler, Qpid.Sasl"/>
   </configSections>

   <qpid.sasl>
      <clientFactories>
         <add type="Qpid.Sasl.Tests.TestClientFactory, Qpid.Sasl.Tests"/>
      </clientFactories>
   </qpid.sasl>
</configuration>
