<configuration>
	<type-mappings>
		<mapping>
			<code>1</code>
			<class-name>org.apache.qpid.management.domain.model.type.Uint8</class-name>
			<validator-class-name>org.apache.qpid.management.domain.model.QpidProperty$NumberValidator</validator-class-name>
		</mapping>
		<mapping>
			<code>2</code>
			<class-name>org.apache.qpid.management.domain.model.type.Uint16</class-name>
			<validator-class-name>org.apache.qpid.management.domain.model.QpidProperty$NumberValidator</validator-class-name>
		</mapping>
		<mapping>
			<code>3</code>
			<class-name>org.apache.qpid.management.domain.model.type.Uint32</class-name>
			<validator-class-name>org.apache.qpid.management.domain.model.QpidProperty$NumberValidator</validator-class-name>
		</mapping>
		<mapping>
			<code>4</code>
			<class-name>org.apache.qpid.management.domain.model.type.Uint64</class-name>
			<validator-class-name>org.apache.qpid.management.domain.model.QpidProperty$NumberValidator</validator-class-name>
		</mapping>
		<mapping>
			<code>6</code>
			<class-name>org.apache.qpid.management.domain.model.type.Str8</class-name>
			<validator-class-name>org.apache.qpid.management.domain.model.QpidProperty$StringValidator</validator-class-name>
		</mapping>
		<mapping>
			<code>7</code>
			<class-name>org.apache.qpid.management.domain.model.type.Str16</class-name>
			<validator-class-name>org.apache.qpid.management.domain.model.QpidProperty$StringValidator</validator-class-name>
		</mapping>
		<mapping>
			<code>8</code>
			<class-name>org.apache.qpid.management.domain.model.type.AbsTime</class-name>
		</mapping>
		<mapping>
			<code>9</code>
			<class-name>org.apache.qpid.management.domain.model.type.DeltaTime</class-name>
		</mapping>
		<mapping>
			<code>10</code>
			<class-name>org.apache.qpid.management.domain.model.type.ObjectReference</class-name>
		</mapping>
		<mapping>
			<code>11</code>
			<class-name>org.apache.qpid.management.domain.model.type.Boolean</class-name>
		</mapping>
		<mapping>
			<code>14</code>
			<class-name>org.apache.qpid.management.domain.model.type.Uuid</class-name>
		</mapping>
		<mapping>
			<code>15</code>
			<class-name>org.apache.qpid.management.domain.model.type.Map</class-name>
		</mapping>
	</type-mappings>
	<access-mode-mappings>
		<mapping>
			<code>1</code>
			<value>RC</value>
		</mapping>
		<mapping>
			<code>2</code>
			<value>RW</value>
		</mapping>
		<mapping>
			<code>3</code>
			<value>RO</value>
		</mapping>
	</access-mode-mappings>
	<brokers>
		<broker>
			<host>localhost</host>
			<port>5672</port>
			<virtual-host>test</virtual-host>
			<user>guest</user>
			<password>guest</password>
			<max-pool-capacity>4</max-pool-capacity>
			<initial-pool-capacity>0</initial-pool-capacity>
			<max-wait-timeout>-1</max-wait-timeout>
		</broker>		
	</brokers>
</configuration>
