#Python
*.pyc
*.out
#CPP
*.o
*.la
*.lo
*.vglog
.dirstamp
Makefile.in
config\.*
configure
.deps
.libs
autom4te.cache
aclocal.m4
developer.doxygen
user.doxygen
qpidd.1
qpid/cpp/libtool
qpidc.spec
qpid/cpp/src/gen/
*gen.mk
*.timestamp
*.pcl
qpid/cpp/managementgen/management-types.xml

#Java
*.class
velocity.log*
qpid/java/build
release
.classpath
.project
.settings
generated/
target
qpid/java/lib/cobertura/
# Intellij Project files
*.iml
*.ipr
*.iws
# Emacs
*~
# Microsoft Visual Studio artifacts
*.vcproj.*.*.user
*.ncb
*.suo
*.ilk
*.pdb
# Windows build results
*.exe
*.lib
*.dll
# MacOS File
.DS_Store

#Eclipse workspace
workspace/
