#Python
*.pyc
*.out
#CPP
*.o
*.la
*.lo
.dirstamp
Makefile*
config\.*
configure
.deps
.libs
autom4te.cache
qpid/cpp/examples/direct/declare_queues
qpid/cpp/examples/direct/direct_producer
qpid/cpp/examples/direct/listener
qpid/cpp/examples/failover/declare_queues
qpid/cpp/examples/failover/replaying_sender
qpid/cpp/examples/failover/resuming_receiver
qpid/cpp/examples/qmf-console/console
qpid/cpp/examples/qmf-console/ping
qpid/cpp/examples/qmf-console/printevents
qpid/cpp/examples/fanout/fanout_producer
qpid/cpp/examples/fanout/listener
qpid/cpp/examples/pub-sub/topic_listener
qpid/cpp/examples/pub-sub/topic_publisher
qpid/cpp/examples/request-response/client
qpid/cpp/examples/request-response/server
qpid/cpp/src/tests/client_test
qpid/cpp/src/tests/consume
qpid/cpp/src/tests/latencytest
qpid/cpp/src/tests/perftest
qpid/cpp/src/tests/publish
qpid/cpp/src/tests/qpidd.log
qpid/cpp/src/tests/qpidd.port
qpid/cpp/src/tests/topic_listener
qpid/cpp/src/tests/topic_publisher
qpid/cpp/src/tests/txtest
qpid/cpp/src/tests/unit_test
qpid/cpp/src/boost
qpid/cpp/src/generate_MaxMethodBodySize_h
qpid/cpp/src/stamp-h1
aclocal.m4
developer.doxygen
user.doxygen
qpidd.1
qpid/cpp/libtool
qpidc.spec
qpid/cpp/src/gen/
*.mk
mgen.timestamp
MaxMethodBodySize.h
qpidd
rgen.timestamp
*.pcl
qpid/cpp/managementgen/management-types.xml

#Java
*.class
velocity.log
qpid/java/build
release
.classpath
.project
.settings
generated/
target
qpid/java/lib/cobertura/
# Intellij Project files
*.iml
*.ipr
*.iws
# Emacs
*~
# Microsoft Visual Studio artifacts
*.vcproj.*.*.user
*.ncb
*.suo
*.ilk
*.pdb
# Windows build results
*.exe
*.lib
*.dll
# MacOS File
.DS_Store
