# selinux policy needed to run the qpidd service with clustering
# enabled and selinux in enforcing mode.
#
# To build the qpid.pp module in this directory do:
#   sudo make -f /usr/share/selinux/devel/Makefile
# To install the compiled qpidd.pp
#   sudo semodule -i qpidd.pp

policy_module(qpidd, 1.1)
require {
        type initrc_t;
        type ccs_t;
	type aisexec_t;
}
#============= ccs_t ==============
fs_rw_tmpfs_files(ccs_t)
allow ccs_t initrc_t:sem rw_sem_perms;
allow ccs_t initrc_t:shm rw_shm_perms;
allow ccs_t self:capability ipc_owner;
allow aisexec_t initrc_t:sem rw_sem_perms;
allow aisexec_t initrc_t:shm rw_shm_perms;
allow aisexec_t self:capability { ipc_owner dac_override };
