<?xml version="1.0" encoding="UTF-8"?>
<!--

 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.

-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="{BEEC3337-9346-4663-ACFC-D3149A222C46}"
           Name="Apache Qpid $(var.qpidc_version)"
           Language="1033"
           Version="$(var.qpidc_version).0.0"
           Manufacturer="Apache Software Foundation"
           UpgradeCode="{94677A0C-606C-49d8-BB63-DF2F6F6D780F}">

    <Package Description="Apache Qpid C++ for Windows"
             Manufacturer="Apache Software Foundation"
             Id="*"
             InstallerVersion="300"
             Compressed="yes" />

    <Media Id="1" Cabinet="qpidc.cab" EmbedCab="yes" />

    <!-- The .NET-using client pieces check for .NET 3.5 -->
    <PropertyRef Id="NETFRAMEWORK35"/>

    <!-- Allow 64-bit builds to pick ProgramFiles64Folder instead -->
    <?define ProgramFiles = "ProgramFilesFolder"?>

    <!-- Pick up Program Files for 32-bit from the correct place -->
    <?ifdef env.ProgramFiles(x86)?>
      <?define ProgramFilesx86 = "$(env.ProgramFiles(x86))"?>
    <?else?>
      <?define ProgramFilesx86 = "$(env.ProgramFiles)"?>
    <?endif?>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="VCRedist" SourceFile="$(var.ProgramFilesx86)\Common Files\Merge Modules\Microsoft_VC90_CRT_x86.msm" DiskId="1" Language="0"/>
      <Merge Id="VCRedistPolicy" SourceFile="$(var.ProgramFilesx86)\Common Files\Merge Modules\policy_9_0_Microsoft_VC90_CRT_x86.msm" DiskId="1" Language="0"/>
      <Directory Id="$(var.ProgramFiles)">
        <Directory Id="ApacheTop" Name="Apache">
          <Directory Id="INSTALLLOCATION" Name="qpidc-$(var.qpidc_version)">
            <Directory Id="QpidBin"      Name="bin">
              <Directory Id="QpidBinDebug" Name="Debug"/>
            </Directory>
            <Directory Id="QpidConf"     Name="conf"/>
            <Directory Id="QpidDoc"      Name="docs">
              <Directory Id="QpidDocAPI" Name="api"/>
            </Directory>
            <Directory Id="QpidExamples" Name="examples"/>
            <Directory Id="QpidInclude"  Name="include"/>
            <Directory Id="QpidPlugins"  Name="plugins">
              <Directory Id="QpidBrPlugin" Name="broker"/>
          </Directory>
        </Directory>
      </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Apache Qpid"/>
      </Directory>

    </Directory>

    <DirectoryRef Id="TARGETDIR">

      <Component Id="QpidBinPATH" Guid="{0E88CF22-7988-4d34-9C42-61C764091B11}">
        <Environment Id="envPath" Separator=";" Action="set" Permanent="no"
                     Name="PATH" System="yes" Part="last" Value="[QpidBin]"/>
      </Component>
      <Component Id="QpidRootEnv" Guid="{DC89CA24-E66F-4506-AA1F-153A88979AC7}">
        <Environment Id="RootPath" Action="set" Permanent="no"
                     Name="QPID_ROOT" System="yes" Part="all"
                     Value="[INSTALLLOCATION]"/>
      </Component>
      <Component Id="WCFXAKey" Guid="{88EDD4D2-59FC-46be-BE18-40A94FB5C9D7}">
        <Condition>
          <![CDATA[Installed OR NETFRAMEWORK35]]>
        </Condition>
        <!-- This registry key, values, procedure, and reasoning are
             described at http://support.microsoft.com/kb/817066
             It's necessary for the WCF XA support to work properly. -->
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\MSDTC\XADLL">
          <RegistryValue Type="string"
                         Name="qpidxarm.dll"
                         Value="[QpidBin]qpidxarm.dll" />
        </RegistryKey>
        <ServiceControl Id="MSDTCSvcRestart" Name="MSDTC"
                        Stop="both" Start="both"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="InstallNotes" Guid="{10A64ABE-B3F7-40c0-88F1-E0AD71467A3E}">
        <File Id="InstallNotesHTML" Source="INSTALL_NOTES.html"/>
      </Component>
      <Component Id="Legal" Guid="{D98B2A06-4A7E-488a-A7A9-BFB1B9D594A0}">
        <File Id="LICENSE" Source="$(var.staging_dir)\docs\LICENSE"/>
        <File Id="NOTICE"  Source="$(var.staging_dir)\docs\NOTICE"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="QpidBin">
      <Component Id="Broker_Release" Guid="c65883b5-0119-4704-9770-1c3369a8acd7">
        <File Id="BrokerEXE" Source="$(var.staging_dir)\bin\qpidd.exe"/>
        <File Id="BrokerDLL" Source="$(var.staging_dir)\bin\qpidbroker.dll"/>
      </Component>
      <Component Id="CommonLib_Debug" Guid="CE7DDC23-78F9-4DE3-A8BB-9E9652A413DC">
        <File Id="CommonDebugLIB" Source="$(var.staging_dir)\bin\qpidcommond.lib"/>
        <File Id="CommonDebugDLL" Source="$(var.staging_dir)\bin\qpidcommond.dll"/>
        <File Id="CommonDebugPDB" Source="$(var.staging_dir)\bin\qpidcommond.pdb"/>
      </Component>
      <Component Id="CommonLib_Release" Guid="BB2FA938-25CB-498e-A3D8-D6C475B82853">
        <File Id="CommonReleaseLIB" Source="$(var.staging_dir)\bin\qpidcommon.lib"/>
        <File Id="CommonReleaseDLL" Source="$(var.staging_dir)\bin\qpidcommon.dll"/>
        <!-- File Id="CommonReleasePDB" Source="$(var.staging_dir)\bin\qpidcommon.pdb"/ -->
      </Component>
      <Component Id="TypesLib_Debug" Guid="31059F1D-6C2C-4ad0-88E4-4938EC0091C5">
        <File Id="TypesDebugLIB" Source="$(var.staging_dir)\bin\qpidtypesd.lib"/>
        <File Id="TypesDebugDLL" Source="$(var.staging_dir)\bin\qpidtypesd.dll"/>
        <File Id="TypesDebugPDB" Source="$(var.staging_dir)\bin\qpidtypesd.pdb"/>
      </Component>
      <Component Id="TypesLib_Release" Guid="121FF239-8C37-4ca4-836D-39E5D98E0DB1">
        <File Id="TypesReleaseLIB" Source="$(var.staging_dir)\bin\qpidtypes.lib"/>
        <File Id="TypesReleaseDLL" Source="$(var.staging_dir)\bin\qpidtypes.dll"/>
        <!-- File Id="TypesReleasePDB" Source="$(var.staging_dir)\bin\qpidtypes.pdb"/ -->
      </Component>
      <Component Id="ClientLib_Debug" Guid="2AB8EA8C-8AD5-4A8E-8CB3-E525A59962A3">
        <File Id="ClientDebugLIB" Source="$(var.staging_dir)\bin\qpidclientd.lib"/>
        <File Id="ClientDebugDLL" Source="$(var.staging_dir)\bin\qpidclientd.dll"/>
        <File Id="ClientDebugPDB" Source="$(var.staging_dir)\bin\qpidclientd.pdb"/>
      </Component>
      <Component Id="ClientLib_Release" Guid="7312671F-CE68-4fac-ACF1-E6D90EA5F070">
        <File Id="ClientReleaseLIB" Source="$(var.staging_dir)\bin\qpidclient.lib"/>
        <File Id="ClientReleaseDLL" Source="$(var.staging_dir)\bin\qpidclient.dll"/>
        <!-- File Id="ClientReleasePDB" Source="$(var.staging_dir)\bin\qpidclient.pdb"/ -->
      </Component>
      <Component Id="MessagingLib_Debug" Guid="41F85AFA-69F4-4f9a-BE48-804D68F880C4">
        <File Id="MessagingDebugLIB" Source="$(var.staging_dir)\bin\qpidmessagingd.lib"/>
        <File Id="MessagingDebugDLL" Source="$(var.staging_dir)\bin\qpidmessagingd.dll"/>
        <File Id="MessagingDebugPDB" Source="$(var.staging_dir)\bin\qpidmessagingd.pdb"/>
      </Component>
      <Component Id="MessagingLib_Release" Guid="C023833B-430E-492a-991F-003084EF0E3C">
        <File Id="MessagingReleaseLIB" Source="$(var.staging_dir)\bin\qpidmessaging.lib"/>
        <File Id="MessagingReleaseDLL" Source="$(var.staging_dir)\bin\qpidmessaging.dll"/>
        <!-- File Id="MessagingReleasePDB" Source="$(var.staging_dir)\bin\qpidmessaging.pdb"/ -->
      </Component>
      <Component Id="DotNetMessaging_Release" Guid="25C3F69E-593E-4b30-9CC5-329488D7840E">
        <Condition>
          <![CDATA[Installed OR NETFRAMEWORK35]]>
        </Condition>
        <File Id="DotNetMessagingDLL" Source="$(var.staging_dir)\bin\org.apache.qpid.messaging.dll"/>
        <File Id="DotNetMessagingPDB" Source="$(var.staging_dir)\bin\org.apache.qpid.messaging.pdb"/>
        <File Id="DotNetMessagingSessionDLL" Source="$(var.staging_dir)\bin\org.apache.qpid.messaging.sessionreceiver.dll"/>
        <File Id="DotNetMessagingSessionPDB" Source="$(var.staging_dir)\bin\org.apache.qpid.messaging.sessionreceiver.pdb"/>
      </Component>
      <Component Id="WCFChannelDLL" Guid="{4039F91C-C663-4ef4-8A74-7D425D6D32E6}">
        <Condition>
          <![CDATA[Installed OR NETFRAMEWORK35]]>
        </Condition>
        <File Id="ChannelDLL"
              Name="Apache.Qpid.Channel.dll" KeyPath="yes" Assembly=".net"
              Source="$(var.staging_dir)\bin\Apache.Qpid.Channel.dll"/>
      </Component>
      <Component Id="WCFInteropDLL" Guid="{EE9E36BF-C951-4429-AC78-F105C3D6BD95}">
        <Condition>
          <![CDATA[Installed OR NETFRAMEWORK35]]>
        </Condition>
        <File Id="InteropDLL"
              Name="Apache.Qpid.Interop.dll" KeyPath="yes" Assembly=".net"
              Source="$(var.staging_dir)\bin\Apache.Qpid.Interop.dll"/>
      </Component>
      <Component Id="WCFXADLL" Guid="{4C3F32C2-1A31-4af6-9863-770090A60E52}">
        <Condition>
          <![CDATA[Installed OR NETFRAMEWORK35]]>
        </Condition>
        <File Id="XARMDLL" Source="$(var.staging_dir)\bin\qpidxarm.dll"/>
      </Component>

      <Component Id="QMFConsoleLib_Debug" Guid="B5169DDE-B4E8-4c5e-A507-DDFA1DF8DDF8">
        <File Id="QMFConsoleDebugLIB" Source="$(var.staging_dir)\bin\qmfconsoled.lib"/>
        <File Id="QMFConsoleDebugDLL" Source="$(var.staging_dir)\bin\qmfconsoled.dll"/>
        <File Id="QMFConsoleDebugPDB" Source="$(var.staging_dir)\bin\qmfconsoled.pdb"/>
      </Component>
      <Component Id="QMFConsoleLib_Release" Guid="5DD7ADAC-D944-4694-A4F2-0022B7A6931E">
        <File Id="QMFConsoleReleaseLIB" Source="$(var.staging_dir)\bin\qmfconsole.lib"/>
        <File Id="QMFConsoleReleaseDLL" Source="$(var.staging_dir)\bin\qmfconsole.dll"/>
        <!-- File Id="QMFConsoleReleasePDB" Source="$(var.staging_dir)\bin\qmfconsole.pdb"/ -->
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="QpidBinDebug">
      <Component Id="DotNetMessaging_Debug" Guid="{949C5592-4EEF-44c7-86C0-FB0F8FA37035}">
        <Condition>
          <![CDATA[Installed OR NETFRAMEWORK35]]>
        </Condition>
        <File Id="DotNetMessagingDebugDLL" Source="$(var.staging_dir)\bin\Debug\org.apache.qpid.messaging.dll"/>
        <File Id="DotNetMessagingDebugPDB" Source="$(var.staging_dir)\bin\Debug\org.apache.qpid.messaging.pdb"/>
        <File Id="DotNetMessagingSessionDebugDLL" Source="$(var.staging_dir)\bin\Debug\org.apache.qpid.messaging.sessionreceiver.dll"/>
        <File Id="DotNetMessagingSessionDebugPDB" Source="$(var.staging_dir)\bin\Debug\org.apache.qpid.messaging.sessionreceiver.pdb"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="QpidConf">
      <Component Id="BrokerConf" Guid="{8893D4B8-F87B-4da7-914A-87ED61E46577}">
        <File Id="BrokerConfFile" Source="$(var.staging_dir)\conf\qpidd.conf"/>
      </Component>
      <Component Id="ClientConf" Guid="{2ED5B20C-9D57-4961-B928-6FC1436309F7}">
        <File Id="ClientConfFile" Source="$(var.staging_dir)\conf\qpidc.conf"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="QpidBrPlugin">
      <Component Id="TopStorePlugin" Guid="455A04EE-CFFE-4dad-963E-4CD2AC09C1C5">
        <File Id="StorePlugin" Source="$(var.staging_dir)\plugins\broker\store.dll"/>
      </Component>
      <Component Id="SQLPersistence" Guid="C45EDD16-A91A-44d2-BA62-64AC63AA310D">
        <File Id="SQLPlugin" Source="$(var.staging_dir)\plugins\broker\mssql_store.dll"/>
      </Component>
      <Component Id="CLFSPersistence" Guid="{49E9EE38-D16E-4188-8F58-D8715598C5FB}">
        <!-- CLFS store only works on Win Svr 2003 and up -->
        <Condition>
          <![CDATA[Installed OR (VersionNT >= 502)]]>
        </Condition>
        <File Id="CLFSPlugin" Source="$(var.staging_dir)\plugins\broker\msclfs_store.dll"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="APIDocShortcut" Guid="{B95A28E2-E2B5-4f31-93C3-24B010701F30}">
        <Shortcut Id="APIDocsShortcut"
                  Name="Qpid C++ Reference Documentation"
                  Description="Shortcut to HTML reference documentation"
                  Target="[INSTALLLOCATION]docs\api\html\index.html" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Apache\qpidc" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="Apache Qpid C++" Level="1"
             Display="expand" ConfigurableDirectory="INSTALLLOCATION"
             TypicalDefault="install">
      <ComponentRef Id="InstallNotes"/>
      <ComponentRef Id="Legal"/>

      <Feature Id="VCRedist" Title="Visual C++ 9.0 Runtime"
               AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedist"/>
        <MergeRef Id="VCRedistPolicy"/>
      </Feature>

      <Feature Id="Broker" Title="Broker: Routes and queues messages" Level="1">
        <ComponentRef Id="QpidBinPATH"/>
        <ComponentRef Id="BrokerConf"/>
        <ComponentRef Id="Broker_Release"/>
        <ComponentRef Id="CommonLib_Release"/>
        <ComponentRef Id="TypesLib_Release"/>
        <ComponentRef Id="TopStorePlugin"/>
        <ComponentRef Id="SQLPersistence"/>
        <ComponentRef Id="CLFSPersistence"/>
      </Feature>

      <Feature Id="ClientLib" Title="Client Libraries and Headers to develop and run programs" Level="1">
        <ComponentRef Id="QpidBinPATH"/>
        <ComponentRef Id="QpidRootEnv"/>
        <ComponentRef Id="WCFXAKey"/>
        <ComponentRef Id="ClientConf"/>
        <ComponentRef Id="CommonLib_Debug"/>
        <ComponentRef Id="CommonLib_Release"/>
        <ComponentRef Id="TypesLib_Debug"/>
        <ComponentRef Id="TypesLib_Release"/>
        <ComponentRef Id="ClientLib_Debug"/>
        <ComponentRef Id="ClientLib_Release"/>
        <ComponentRef Id="MessagingLib_Debug"/>
        <ComponentRef Id="MessagingLib_Release"/>
        <ComponentRef Id="QMFConsoleLib_Debug"/>
        <ComponentRef Id="QMFConsoleLib_Release"/>
        <ComponentRef Id="DotNetMessaging_Debug"/>
        <ComponentRef Id="DotNetMessaging_Release"/>
        <ComponentRef Id="WCFChannelDLL"/>
        <ComponentRef Id="WCFInteropDLL"/>
        <ComponentRef Id="WCFXADLL"/>
        <ComponentGroupRef Id="group_QpidHeaders"/>

        <Feature Id="Examples" Title="Client Programming Examples" Level="1">
          <ComponentGroupRef Id="group_Examples"/>
        </Feature>
      </Feature>

      <Feature Id="APIDocs" Title="Client C++ API Reference Documentation" Level="1">
        <ComponentRef Id="APIDocShortcut"/>
        <ComponentGroupRef Id="group_APIDocs"/>
      </Feature>

      <!-- Feature Id="FullDistro" Title="Full C++ Source in a zip file" Level="3">
        <ComponentRef Id="DistroSrc"/>
      </Feature -->
    </Feature>

    <Icon Id="QpidIcon.exe" SourceFile="qpid-icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="QpidIcon.exe" />
    <Property Id="ALLUSERS" Value="1"/>

    <UI>
      <UIRef Id="WixUI_FeatureTree" />
      <Publish Dialog="ExitDialog"
               Control="Finish" 
               Event="DoAction" 
               Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

    </UI>

    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="qpid-install-banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="qpid-install-background.bmp" />

    <!-- Launch the install notes optionally on finish -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
              Value="View the installation notes for more information"/>
    <Property Id='WIXUI_EXITDIALOGOPTIONALCHECKBOX' Value='1' />
    <Property Id="WixShellExecTarget" Value="[#InstallNotesHTML]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA"
                  DllEntry="WixShellExec" Impersonate="yes" />

  </Product>
</Wix>
