<log4net>
  <appender name="console" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c:%M(%L) - %m%n" />
    </layout>
    <threshold value="info"/>
  </appender>

  <appender name="filelog" type="log4net.Appender.FileAppender">
    <file value="qpid_client.log"/>
    <appendToFile value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c:%M(%L) - %m%n" />
    </layout>
  </appender>

  <appender name="protocolLog" type="log4net.Appender.FileAppender">
    <file value="protocol.log"/>
    <appendToFile value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %message%newline"/>
    </layout>
  </appender>

  <appender name="ioLog" type="log4net.Appender.FileAppender">
    <file value="io.log"/>
    <appendToFile value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %message%newline"/>
    </layout>
    <threshold value="info"/>
  </appender>

  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <remoteAddress value="127.0.0.1" />
    <remotePort value="4445" />
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true" />
    </layout>
    <threshold value="debug"/>
  </appender>

  <logger name="Qpid.Client.ProtocolChannel.Tracing" additivity="false">
    <level value="info"/>
    <appender-ref ref="protocolLog"/>
  </logger>

  <logger name="Qpid.Client.ByteChannel.Tracing" additivity="false">
    <level value="info" />
    <appender-ref ref="ioLog"/>
  </logger>
   <logger name="Qpid.Framing.FieldTable" additivity="false">
      <level value="debug" />
      <appender-ref ref="console"/>
   </logger>

   <root>
    <appender-ref ref="console"/>
    <appender-ref ref="UdpAppender"/>
	  <appender-ref ref="filelog"/>
  </root>
</log4net>