<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserMame" value="guest"/>
    <add key="Password" value="guest"/>
    <add key="Host" value="192.168.1.14"/>
    <add key="Port" value="5673"/>
    <add key="VirtualHost" value="test"/>
  </appSettings>
</configuration>