<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
 -
 - Licensed to the Apache Software Foundation (ASF) under one
 - or more contributor license agreements.  See the NOTICE file
 - distributed with this work for additional information
 - regarding copyright ownership.  The ASF licenses this file
 - to you under the Apache License, Version 2.0 (the
 - "License"); you may not use this file except in compliance
 - with the License.  You may obtain a copy of the License at
 - 
 -   http://www.apache.org/licenses/LICENSE-2.0
 - 
 - Unless required by applicable law or agreed to in writing,
 - software distributed under the License is distributed on an
 - "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 - KIND, either express or implied.  See the License for the
 - specific language governing permissions and limitations
 - under the License.
 -
 -->
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>qpidmc</string>
	<key>CFBundleGetInfoString</key>
	<string>Apache Qpid Management Console for Mac OS X</string>
	<key>CFBundleIconFile</key>
	<string>Console.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.apache.qpid.management.ui</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Qpid Management Console</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.4</string>
	<key>Qpid Management Console</key>
	<array>
		<string>-consoleLog</string>
		<string>-showlocation</string>
		<!-- WARNING:
		If you try to add a single VM argument (-vmargs) here,
		*all* vmargs specified in qpidmc.ini will be ignored.
		We recommend to add all arguments in MacOS/qpidmc.ini  -->
	</array>
</dict>
</plist>
