<log4net>

    <!-- ============================== -->
    <!-- Append messages to the console -->
    <!-- ============================== -->

    <appender name="console" type="log4net.Appender.ConsoleAppender" >
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%m%n"/>
        </layout>
        <threshold value="info"/>
    </appender>

    <!-- ====================================== -->
    <!-- Append messages to the socket appender -->
    <!-- ====================================== -->

    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
        <remoteAddress value="127.0.0.1"/>
        <remotePort value="4445"/>
        <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
            <locationInfo value="true"/>
        </layout>
        <threshold value="debug"/>
    </appender>

    <!-- ================ -->
    <!-- Limit categories -->
    <!-- ================ -->

    <logger name="Qpid">
        <level value="debug"/>
    </logger>

    <logger name="CONSOLE">
        <level value="info"/>
        <appender-ref ref="console"/>
    </logger>

    <!-- ======================= -->
    <!-- Setup the Root category -->
    <!-- ======================= -->

    <root>
        <appender-ref ref="UdpAppender"/>
    </root>

</log4net>