/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */
* {
    outline: none !important;
}

html, body {
    height: 100%;
    margin: 0;
    margin-right: 40px;
    padding: 0;
    overflow: hidden;
    font-family: Lucida Sans,Lucida Grande,Arial !important;
    font-size: 13px !important;
    background: white;
    color: #333;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

#pageLayout {
    height: 100%;
}
button {
	-webkit-transition: background-color 0.2s linear;
	border-radius:4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #E4F2FF;
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #769DC0;
	padding: 2px 8px 4px;
	font-size:1em;
}

button:hover {
	background-color: #AFD9FF;
	color: #000000;
}

h1 {
	font-size:1.5em;
}

.header {
    height:100px;
    background:url("../images/qpid-logo.png") left center no-repeat
}

.logo {
    text-align:left;
    vertical-align: top;
    font-weight:600;
    height: 90px;
    padding-left: 200px;
    padding-top: 1px;
    padding-bottom: 10px;
    font-size:14px;
    font-family:"Verdana", cursive;
}

.footer {
    color:#000000;
    clear:both;
    text-align:center;
    font-size:11px;
    line-height:17px;

}

div .messages {
	width: 100%;
	height: 350px;
}

.formBox {
    margin: 10px 5px;
}

.formBox legend {
    font-weight: bold;
    margin-left: 5px;
    background-color: white;
}

.formBox fieldset {
    padding: 5px;
    border: .1em solid lightgrey;
    border-radius: 5px;
}

.formLabel-labelCell, .tableContainer-labelCell {
    width: 300px;
    font-weight: bold;
}

.tableContainer-labelCell {
    float: none;
}

.formLabel-labelCell {
    margin-left: 5px;
    float: left;
   }

.formValue-valueCell {
    float: left;
}

.formBox .addPermittedNodeList {
    width: 15em;
}

.formBox .addPermittedNodeList select {
    width: 100%;
}

.formLabel-controlCell {
  padding: 1px;
  float: left;
}

.columnDefDialogButtonIcon {
  background: url("../dojo/dojox/grid/enhanced/resources/images/sprite_icons.png") no-repeat;
    background-position: -260px 2px;
    width: 14px;
    height: 14px;
}

.logViewerIcon {
  background: url("../images/log-viewer.png") no-repeat;
    width: 14px;
    height: 16px;
}

.downloadLogsIcon {
  background: url("../images/download.png") no-repeat;
    width: 14px;
    height: 14px;
}

.dojoxGridFBarClearFilterButtontnIcon
{
    background: url("../dojo/dojox/grid/enhanced/resources/images/sprite_icons.png") no-repeat;
    background-position: -120px -18px;
    width: 14px;
    height: 14px;
}

.rowNumberLimitIcon
{
    background: url("../dojo/dojox/grid/enhanced/resources/images/sprite_icons.png") no-repeat;
    background-position: -240px -18px;
    width: 14px;
    height: 14px;
}

.gridRefreshIcon
{
    background: url("../images/refresh.png") no-repeat;
    width: 16px;
    height: 16px;
}

.gridAutoRefreshIcon
{
    background: url("../images/auto-refresh.png") no-repeat;
    width: 16px;
    height: 16px;
}

.redBackground tr{ background-color:#ffdcd7 !important; background-image: none !important;}
.yellowBackground tr{background-color:#fbfddf !important; background-image: none !important;}
.grayBackground tr{background-color:#eeeeee !important; background-image: none !important;}
.dojoxGridRowOdd.grayBackground tr{ background-color:#e9e9e9 !important; background-image: none !important;}
.dojoxGridRowOdd.yellowBackground tr{background-color:#fafdd5 !important; background-image: none !important;}
.dojoxGridRowOdd.redBackground tr{background-color:#f4c1c1 !important; background-image: none !important;}

.preferencesIcon
{
    background: url("../images/gear.png") no-repeat;
    width: 16px;
    height: 16px;
}

.helpIcon
{
    background: url("../images/help.png") no-repeat;
    width: 16px;
    height: 16px;
}

.infoMessage
{
    padding: 5px;
    font-style: italic;
}

.alignLeft {
    float: left;
    display: inline-block;
}

.alignRight {
    float: right;
    display: inline-block;
}

.multiLineValue {
    display: inline-block;
}

.haOptionLabel {
    font-weight: bold;
    margin-left: 5px;
}

.editNoteBanner {
    font-style: italic;
    margin: 0px 0px 10px 5px;
}

#errorDialog {
    overflow: auto;
    width: 400px;
}

.errorDialogErrorPrimary {
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 350px;
}

.errorDialogErrorSecondary {
    font-style: italic;
}

/* Required to keep queue type radio buttons on one line when dialog adds scrollbar */
#addQueue {
    overflow: auto;
    width: 630px;
}

#authenticatedUserControls {
    max-width: 300px;
}

.claro .dojoxCheckedMultiSelectWrapper  {
    height: auto;
}

.claro .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectWrapper {
    border: none;
    background-color: transparent;
}

.dijitMultiSelect {
    width : 14.75em;
}

.highlightedText
{
    font-weight: bold;
}

.normalText
{
    font-weight: normal;
}

.contextEditor
{
    margin-left:5px;
    margin-right:5px;
}

.contextGrid
{
    width:100%;
    max-height: 140px;
    overflow: auto;
}
