[Unit]
Description=An AMQP message broker daemon.
Documentation=man:qpidd(1) http://qpid.apache.org/
Requires=network.target

[Service]
User=qpidd
Group=qpidd
Type=simple
ExecStart=/usr/sbin/qpidd --config /etc/qpidd.conf

[Install]
WantedBy=multi-user.target
