<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <client>
      <endpoint address="soap.amqp:///Hello" 
                binding="customBinding"
                bindingConfiguration="QpidBinding"
                contract="org.apache.qpid.wcf.demo.IHelloContract"
                name="HelloService" />
    </client>


    <bindings>
      <customBinding>
        <binding name="QpidBinding">
          <textMessageEncoding />
          <QpidTransport
               host="192.168.1.14"
               port="5673" />
        </binding>
      </customBinding>
    </bindings>

    <extensions>
      <bindingElementExtensions>
        <add
          name="QpidTransport"
           type="org.apache.qpid.wcf.model.QpidTransportElement, qpidWCFModel"/>
      </bindingElementExtensions>
    </extensions>


  </system.serviceModel>
</configuration>